@import url('https://rsms.me/inter/inter-ui.css');

* {
    color: white;
    font-family: "Inter UI", sans-serif;
}

h3, h4 {
    color: #4D5F6E;
}

#container {
    height: 100vh;
}
canvas {
    width: 100%;
    height: 100%;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 100vh;
    background-color: #152837;
    padding: 20px;
}

select {
    width: 40%;
}
